{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/script-p1.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style-p1.css') }}">
{%endblock%}


{% block body %}
<div class="block container head-text-block" id="head">
  <h1 class="head-text">Image Style Transfer</h1>
</div>

<div class="block container body-text-block" id="body">
  <h2 class="body-text">
    The main inspiration for this program comes from Leon Gatys in his 2016 paper titled “Image Style Transfer Using Convolutional Neural Networks”. The style transfer site allows users are able to upload photos of different kinds to the site to see what the photo would look like with the style of another photo. Digital Style Transfer is a technique wherein photos of a said content could be remade (or "styled") into a photo with a said style. Developed by Lorenz Alog, Jacob Dy, Jose Noblefranca and Patrick Ong for the DIGIMAP course.
  </h2>
</div>

<div class="block container start-block" id="start">
  <div class="button-wrap start">
    <button class="button" id="start_transfer">
      Start the Image Style Transfer <i class="fas fa-arrow-right arrow"></i>
    </button>
  </div>
</div>
<form id="getresult">
<div class="block container input-block" id="input" name="refno">
  <h2 class="body-text">
    Did you already submit an image earlier? Input below the Reference Number and click submit to get your image. 
  </h2>

  <input type="text" class="input-text">
</div> 

<div class="block container submit-block">
  <div class="button-wrap submit">
    <button class="button button-submit" id="submit">
      Submit <i class="fas fa-arrow-right arrow"></i>
    </button>
  </div>
</div>
</form>

{% endblock %}