{% extends 'base.html' %}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style-p3.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/script-p3.js') }}"></script>
{%endblock%}
{%block body%}
<div class="block container head-text-block" id="head">
    <h1 class="head-text">Please wait, your image is being processed...</h1>
</div>

<div class="block container sub-text-block">
    <h1 class="sub-text">Your reference number is:</h1>
    <h1 class="sub-text" id="refno"></h1>
</div>



<div class="block container sub-text-block">
    <h1 class="sub-text">This can take up to 1 hour due to our server being CPU-limited. You may retrieve your photo at the home page. Thank you!</h1>
</div>

<div class="block-container back-block">

    <div class="button-wrap back">
      <button class="button-back" id="back">
        <i class="fas fa-arrow-left arrowreverse"></i> Return to Title Page
      </button>
    </div>
  
</div>


{%endblock%}