{% extends 'base.html' %}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style-p4.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/script-p4.js') }}"></script>
{%endblock%}

{%block body%}



{% if result == False %}
<div class="block container sub-text-block image-result-block">
    <h1 class="sub-text">No image found. The server may still be processing the image. Please try again later.</h1>
</div>
{% else %}
<div class="block container image-result-block">
    <img width="100%" height="100%" src="{{ url_for('getImage', filename=result) }}">
</div>

{% endif %}

<div class="block container footer-block">
    <div class="columns">
        <div class="column retry-block">

            <div class="button-wrap retry">
                <button class="button-retry" id="retry">
                    <i class="fas fa-arrow-left arrowreverse"></i> Try Again 
                </button>
            </div>

        </div>
        <div class="column source-block">

            <div class="button-wrap source">
                <button class="button-source" id="source" href="https://github.com/dychosenone/Style-Transfer-Project">
                  See the source code on GitHub <i class="fas fa-arrow-right arrow"></i>
                </button>
            </div>

        </div>
    </div>
</div>

{%endblock%}

