.process-text{
    font-size: 3em;
    color: #d6d6d6;

    padding-top: 2em;

    text-align: center;
}

.subprocess-text{
    font-size: 1em;
    color: #d6d6d6;

    padding-top: 2em;

    text-align: center;
}

.loading-part{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.progress-bar-container{
    width: 80%;
    height: 2em;
    border-radius: 20px;
    background-color: #222;
}

.progress-bar{
    width: 10%;
    height: 2em;
    border-radius: 20px;
    background-color: #00d36b;
}
