body{
    background-color: #333 !important;
}

/*
#2cc722, 
    #00d36b, 
    #00dca0, 
    #00e3cc, 
    #12e8eb,
    #00e3cc, 
    #00dca0, 
    #00d36b,
    #2cc722);
*/

.main{
    background-color: #333 !important;
    height:100%
}
/*Page 1 css*/
.head-block{
    padding: 2em;
    text-align: center;
}

.head-text{
    font-family: 'Nunito Sans';
    color: #d6d6d6
}

.desc-block{
    padding: 2em 25% 2em 25%;
}
.desc-text{
    font-family: 'Nunito Sans';
    color: #d6d6d6;
    text-align: justify;
    line-height: 1.5em;
    font-size: 1.1em;
}

.input-block{
    padding: 2em;
    text-align: center;
    font-family: 'Nunito Sans';
    color: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Page 2 css*/

.page2{
    padding-top: 2em;
}

.break {
    width: 100%;
}

.btn{
    background-color:#222;
    color: #d6d6d6;

    padding: 1em;
}


.content-col, .style-col{
    color: #d6d6d6;
    line-height: 1.5em;
    font-size: 1.1em;

    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;

    transition-duration: .4s;
    padding-bottom: 2em;
    margin-top: 2em;

    height: 100%;
}



.content-col:hover, .style-col:hover{
    box-shadow: 0 0 20px black;
}

.image-container{
    padding-top: 10em;
    padding-bottom: 10em;
    margin-bottom: 5em;
    text-align: center;
}

