body{
    background-color: #333 !important;
}

/*
#2cc722, 
    #00d36b, 
    #00dca0, 
    #00e3cc, 
    #12e8eb,
    #00e3cc, 
    #00dca0, 
    #00d36b,
    #2cc722);
*/

.main{
    background-color: #333 !important;
    height:100%
}
/*Page 1 css*/
.head-block{
    padding: 2em;
    text-align: center;
}

.head-text{
    font-family: 'Nunito Sans';
    color: #f7f7f7
}

.desc-block{
    padding: 2em 25% 2em 25%;
}
.desc-text{
    font-family: 'Nunito Sans';
    color: #f7f7f7;
    text-align: justify;
    line-height: 1.5em;
    font-size: 1.1em;
}

.input-block{
    padding: 2em;
    text-align: center;
    font-family: 'Nunito Sans';
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* fancy button */
.fancy-btn-container{
    background-image: linear-gradient(-45deg,#2cc722,  
    #12e8eb, #2cc722, #12e8eb);
    width: fit-content;
    padding: 1.5px;
    padding-top: 1.7px;
    background-size: 400% 400%;
}

.fancy-btn-container:hover{
    animation: mymove 1s linear infinite;
}

.fancy-btn{
    border: none;
    font-size: 1.5em;
    padding: 1em;
    z-index: 10;
    background-color: #333;
    color: #f7f7f7;
}

@keyframes mymove {
    0% {
      background-position: 0% 50%;
    }
  
    100% {
      background-position: 100% 50%;
    }  
}

/* end of fancy button*/

/*Page 2 css*/
